CONFIG_ARCH_AARCH32=y
CONFIG_PLATFORM_QEMU_VIRT=y
CONFIG_MMU=y
CONFIG_QEMU_FDT_LOADER=y
CONFIG_VIRTIO_MMIO=y
CONFIG_VIRTIO_BLK=y
CONFIG_FS=y
CONFIG_INITRD=y
CONFIG_QEMU_MEMORY_MB=128
CONFIG_QEMU_DTB_ADDR=0x47f00000
CONFIG_QEMU_VIRTIO_BLK_PATH=fat:rw:.
